#header{
    background-color: white;
}
#DOESEntertainment{
    font-size: 90%;
    text-align: right;
    margin-right: 5px;
    color: grey;
}
body{

    background: url(backgroundimg.png);
}
#intro{ 
    font-style: italic;
    font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */ 
    font-size: 200%; /* Размер текста */ 
    font-weight: 900;
    color: #833400;
    text-align:center;
}
#bal{
    color:black;
    font-size: 150%;
    font-weight: bold;
    position: relative;
    left: 0.5%;
    transform: translate(-0.5%, 0);
}
#cookie{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 360px;
    border: none;
    cursor: pointer;
}
#bg{
    background-color: rgb(243, 243, 243);
    margin-left: 9.5%;
    margin-right: 9.5%;
}
#fsc{
    color:black;
    font-size: 150%;
    font-weight: bold;
    position: relative;
    left: 0.5%;
    transform: translate(-0.5%, 0);
}
#forsecm{
    color:rgb(37, 185, 62);
    font-size: 150%;
    font-weight: bold;
    position: relative;
    left: 0.4%;
    transform: translate(-0.4%, 0);
}
#balance{
    color:rgb(37, 185, 62);
    font-size: 150%;
    font-weight: bold;
    position: relative;
    left: 0.4%;
    transform: translate(-0.4%, 0);
}
#forclick{
    color:rgb(37, 185, 62);
    font-size: 150%;
    font-weight: bold;
    position: relative;
    left: 0.4%;
    transform: translate(-0.4%, 0);
}
#kek{
    color:black;
    font-size: 150%;
    font-weight: bold;
    position: relative;
    left: 0.5%;
    transform: translate(-0.5%, 0);
}
#fence{
    width: 100%;
    height: 2px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: gray;
}
#ForClickHeader{
    font-style: italic;
    text-align:center;
    color:rgb(161, 133, 40);
    font-size: 150%;
    font-weight: 800;
}
#ForSecHeader{
    font-style: italic;
    text-align:center;
    color:rgb(161, 133, 40);
    font-size: 150%;
    font-weight: 800;
}
#upb1{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#upb1:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}
#upb2{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#upb2:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}
#upb3{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#upb3:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}
#upb4{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#upb4:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}
#upb5{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#upb5:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}
#firstupt{
    font-weight:bold;
    color:black;
    font-size: 20px;
    position: relative;
    left: 46%;
    transform: translate(-46%, 0);
}
#upt2{
    font-weight:bold;
    color:black;
    font-size: 20px;
    position: relative;
    left: 46%;
    transform: translate(-46%, 0);
}
#upt3{
    font-weight:bold;
    color:black;
    font-size: 20px;
    position: relative;
    left: 46%;
    transform: translate(-46%, 0);
}
#upt4{
    font-weight:bold;
    color:black;
    font-size: 20px;
    position: relative;
    left: 46%;
    transform: translate(-46%, 0);
}
#upt5{
    font-weight:bold;
    color:black;
    font-size: 20px;
    position: relative;
    left: 46%;
    transform: translate(-46%, 0);
}
#upforsecb1{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#upforsecb2{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#upforsecb3{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#upforsecb4{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#upforsecb5{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#upforsecb1:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}
#upforsecb2:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}
#upforsecb3:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}
#upforsecb4:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}
#upforsecb5:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}
#upforsect1{
    font-weight:bold;
    color:black;
    font-size: 20px;
    position: relative;
    left: 46%;
    transform: translate(-46%, 0);
}
#upforsect2{
    font-weight:bold;
    color:black;
    font-size: 20px;
    position: relative;
    left: 46%;
    transform: translate(-46%, 0);
}
#upforsect3{
    font-weight:bold;
    color:black;
    font-size: 20px;
    position: relative;
    left: 46%;
    transform: translate(-46%, 0);
}
#upforsect4{
    font-weight:bold;
    color:black;
    font-size: 20px;
    position: relative;
    left: 46%;
    transform: translate(-46%, 0);
}
#upforsect5{
    font-weight:bold;
    color:black;
    font-size: 20px;
    position: relative;
    left: 46%;
    transform: translate(-46%, 0);
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid rgb(255, 0, 0);
    width: 50%; /* Could be more or less, depending on screen size */
    height: 50%;
    font-size: 350%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
#modalwindow1{
    text-align: center;
    color: gray;
}
#modalwindow2{
    text-align: center;
    color: #3e8e41;
}
#modalbox{
    margin-top: 30%;
}